<div class="player__wrap">
  <div class="player__disc" #disc>
    <img src="assets/images/disc.png" alt="">
  </div>
  <div class="player__item" [style.background-image]="image">
    <audio controls #media class="media">
      <source [src]="track?.formats[0]?.url" type="video/webm"> Your browser does not support the audio tag.
    </audio>
    <div class="player__info">
      {{track?.fulltitle}}
    </div>
    <button (click)="play()" class="play_btn" [ngClass]="{'active': !playStatus}">
      <span class="icon-play"></span>
    </button>
    <button (click)="pause()" class="play_btn" [ngClass]="{'active': playStatus}">
      <span class="icon-pause"></span>
    </button>
  </div>
</div>