.player {
  &__wrap {
    .media {
      visibility: hidden;
    }
  }
  &__disc {
    width: 325px;
    height: 325px;
    animation:spin 4s linear infinite;
    animation-play-state: paused;
    position: absolute;
    left: 50%;
    margin-left: -110px;
    top: 80px;
    z-index: 9;
  }
  &__item {
    position: relative;
    background-position: center;
    background-size: cover;
    z-index: 10;
    left: -55px;
    width: 267px;
    height: 367px;
    margin: 55px auto 0 auto;
    box-shadow: -1px 35px 46px 1px rgba(0,0,0,0.75);
  }

  &__info {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
  }
}

@keyframes spin { 100% { transform:rotate(360deg); } }


.play_btn {
  border: 0px;
  width: 43px;
  height: 43px;
  display: flex;
  position: absolute;
  bottom: 36px;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  z-index: 1;
  background: transparent;
  color: #fff;
  span {
    font-size: 40px;
  }

  &.active {
    z-index: 12;
    opacity: 1;
  }
}
