:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.music {
  &__wrap {
    position: relative;
    width: 800px;
    height: 500px;
    background: url('/assets/images/background.jpg') no-repeat center top;
    margin: 0 auto;
  }
}