.swiper-wrapper {
  box-sizing: border-box;
  padding: 80px 0 0;
}

.album {

  &__thumb {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 273px;
    height: 373px;
    border: 6px solid #fff;
  }
  
}

.play_btn {
  border: 0px;
  width: 43px;
  height: 43px;
  display: flex;
  position: absolute;
  bottom: 36px;
  left: 50%;
  margin-left: -22px;
  opacity: 0;
  z-index: 1;
  background: transparent;
  color: #fff;
  span {
    font-size: 40px;
  }

  &.active {
    z-index: 12;
    opacity: 1;
  }
}

.data-fetching {
  cursor: wait;
}
