<!-- <div class="nav">
    <button><span class="icon-search" (click)="searchModal = true"></span></button>
    <button><span class="icon-play"></span></button>
    <button><span class="icon-pause"></span></button>
</div> -->

<swiper [config]="config">
<div class="album__row  swiper-wrapper" [ngClass]="{'data-fetching': fetching}">
 
  <div *ngFor="let album of albumsList" 
    class="album__thumb swiper-slide"
    (click)="openModal(album?.image, album?.id?.videoId)" 
    [style.background-image]="album?.image">
    <button  class="play_btn active">
      <span class="icon-play"></span>
    </button>
  </div>
</div>
</swiper>

<musicui-modal [(visible)]="showDialog">
  <musicui-player [image]="modalThumb"  *ngIf="showDialog"></musicui-player>
</musicui-modal>
<musicui-modal [(visible)]="searchModal">aaaa
</musicui-modal>