<div class="home-content">
  <h1>Music Ui</h1>
  <p>This app still in beta version :(. Go to playlist: <a [routerLink]="['/music/list']" [queryParams]="{q: 'vidya vox'}">music/list?q=vidya vox</a></p>
</div>